[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "samplesizeestimator"]
	path = samplesizeestimator
	url = https://github.com/cran/samplesizeestimator
